<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <UI>
      <Dialog Id="ServiceAccountDlg" Width="370" Height="270" Title="Service Account">
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="Back" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="Next" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg" Condition="1" />
        </Control>
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="240" Height="15" Transparent="yes" NoPrefix="yes" Text="Service Account" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="320" Height="15" Transparent="yes" NoPrefix="yes"
                  Text="Specify the domain account the Hyper-V CSI Agent service runs as." />

        <Control Id="AccountLabel" Type="Text" X="20" Y="65" Width="280" Height="15"
                  Text="Service account (DOMAIN\user) - needs Hyper-V Administrators rights on every host and Failover Cluster permissions for forced detach:" />
        <Control Id="AccountEdit" Type="Edit" X="20" Y="95" Width="220" Height="18" Property="SERVICEACCOUNT" />

        <Control Id="PasswordLabel" Type="Text" X="20" Y="120" Width="150" Height="15" Text="Password:" />
        <Control Id="PasswordEdit" Type="Edit" X="20" Y="135" Width="220" Height="18" Property="SERVICEPASSWORD" Password="yes" />
      </Dialog>
    </UI>
  </Fragment>
</Wix>
