<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <UI>
      <Dialog Id="TrustedClientsDlg" Width="370" Height="270" Title="Trusted Clients">
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="Back" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="Next" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg" Condition="1" />
        </Control>
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="240" Height="15" Transparent="yes" NoPrefix="yes" Text="Trusted Clients" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="320" Height="15" Transparent="yes" NoPrefix="yes"
                  Text="Fingerprints of the client certificates allowed to call this agent." />

        <Control Id="ThumbprintsLabel" Type="Text" X="20" Y="65" Width="320" Height="30"
                  Text="Client certificate thumbprints - separate more than one with a semicolon (;), such as during a rotation:" />
        <Control Id="ThumbprintsEdit" Type="Edit" X="20" Y="95" Width="320" Height="18" Property="CLIENTTHUMBPRINTS" />
      </Dialog>
    </UI>
  </Fragment>
</Wix>
